<form>
  <div class="form-group">
    <label for="searchString">Character Name</label>
    <input name="searchString" type="text" [(ngModel)]="searchString" class="form-control" id="searchString" placeholder="Search criteria...">
  </div>
  <div class="form-check">
    <input type="checkbox" name="isAlive" [(ngModel)]="isAlive" class="form-check-input" id="isAlive">
    <label class="form-check-label" for="isAlive">Alive?</label>
  </div>
  <button appSurpriseWubba type="button" (click)="search()" class="btn btn-primary">Search</button>
</form>
<div *ngIf="searchString">
  {{ searchString | lowercase | wubba }}
</div>
<div *ngIf="loading">
  Loading... 
</div>
<div *ngIf="searchResults && !loading">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Image</th>
    </tr>
    <tr *ngFor="let character of searchResults">
      <td><a [routerLink]='["/character", character.id]'>{{character.name}}</a></td>
      <td><img [src]="character.image" /></td>
    </tr>
  </table>
</div>
<div class="alert alert-warning" role="alert" *ngIf="searchFailed">
  Search returned no results. Please try again. 
</div>
